@mixin z-map($z-map) {
  $before-index: -1;

  @each $name, $value in $z-map {
    $result-z: null;

    @if $value == auto {
      $result-z: $before-index + 1;
    } @else {
      $result-z: $value;
    }

    $before-index: $result-z;

    #{$name}: $result-z;
  }
}

html {
  // font settings
  --line-height: 2;
  --line-height-heading: 1.5;
  --font-family-en: "Poppins", sans-serif;
  --font-family-jp: "Noto Sans JP", sans-serif;
  // colors
  --txt-color-white: #e2f1ff;
  --txt-color-white-hover: #{lighten(#e2f1ff, 5%)};
  --txt-color-white-lv2: #939ca5;
  --txt-color-link: #fff7d6;
  --txt-color-link-hover: #{lighten(#fff7d6, 10%)};
  --color-gray: #666;
  --primary-color: #f9f871;
  --secondary-color: #ffb962;
  --tertiary-color: #b95d7b;
  // bg colors
  --bg-color-grad: linear-gradient(to top, #2e3255, #081025);
  --bg-color-lv0: rgb(27, 26, 48);
  --bg-color-lv1: #2b1f45;
  --bg-color-lv2: #2e2d50;
  // padding
  --padding-lr-pc: #{math.div(100, 1980) * 100}vw;
  --padding-lr-sp: #{math.div(100, 1980) * 100}vw;
  // box-shadow
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  // etc
  --max-width: 1600px;
  --gray-color: #aaaabc;
  --vh: 1vh;

  @include z-map(
    (
      --z-init: auto,
      --z-cat: auto,
      --z-cat-layer: auto,
      --z-title: auto,
      --z-sns: auto,
      --z-scroll: auto,
      --z-language: auto,
    )
  );

  font-family: sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: var(--line-height);
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color-lv1);
  min-height: calc(100 * var(--vh));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
