services:
  postgres:
    image: postgres:16
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=attt
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
