name: ci

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GH_PERSONAL_TOKEN }}

      - name: Setup project
        uses: ./.github/actions/setup-project
        with:
          database_url: ${{ secrets.DATABASE_URL }}

      - name: Lint JS
        run: pnpm lint:js

      - name: Lint Style
        run: pnpm lint:style

      - name: Type check
        run: pnpm typeCheck
