name: ci

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Setup project
        uses: ./.github/actions/setup-project
        with:
          database_url: ${{ secrets.DATABASE_URL }}
          gh_personal_token: ${{ secrets.GH_PERSONAL_TOKEN }}
          private_repo_ssh_key: ${{ secrets.PRIVATE_REPO_SSH_KEY }}

      - name: Lint JS
        run: pnpm lint:js

      - name: Lint Style
        run: pnpm lint:style

      - name: Type check
        run: pnpm typeCheck
