# ref: https://docs.github.com/ja/copilot/how-tos/use-copilot-agents/coding-agent/customize-the-agent-environment
name: 'Copilot Setup Steps'

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Setup project
        uses: ./.github/actions/setup-project
        with:
          database_url: ${{ secrets.DATABASE_URL }}
          gh_personal_token: ${{ secrets.GH_PERSONAL_TOKEN }}
          private_repo_ssh_key: ${{ secrets.PRIVATE_REPO_SSH_KEY }}
